body{
    background-color: rgb(58, 55, 55);
    color: rgb(255, 136, 0);
    font-family: monospace;
    text-align: center;
}

h1{
  size: 300px;
  color: rgb(10, 10, 10);
}

img{
    size: 300px;
}
